@import "../../scss/colors";
@import "../../scss/media";
@import "../../scss/theme";
@import "../../scss/util";

.navbar {
    padding: {
        top: 0.75rem;
        bottom: 0.85rem;
    }
    box-shadow: $drop-shadow;

    @include respond-above(sm) {
        height: 68px;
    }

    .container-fluid {
        justify-content: flex-start !important;
    }

    .nav-link {
        transition: all 0.25s;
        color: $-light;
        outline: none !important;
        border-radius: $border-radius-sm;
        margin-right: 1rem;

        &:hover {
            opacity: 0.8;
            background-color: rgba(white, 0.1);
        }
        &.active-link {
            font-weight: 600;
            color: $-light !important;
        }
        &:focus {
            background-color: rgba(white, 0.05);
        }
    }

    .nav-divider {
        border-left: 2px solid rgba($-light, 0.25);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    &-collapse {
        justify-content: space-between;
        flex-grow: 1;
    }

    .dark-mode-button {
        @extend %button-blank;
    }

    .right-links {
        flex-direction: row;

        a, button {
            font-size: 1.5rem;
            @include transitions("color");
            color: rgba(white, 0.4);

            &:hover,
            &:active {
                color: white;
            }

            padding-left: 0.6rem;
            padding-right: 0.6rem;

            span {
                position: relative;
                top: -4px;
            }
        }
    }
}

.brand {
    margin: {
        right: 1.25rem !important;
    }
    padding: {
        top: 0 !important;
        bottom: 3px !important;
        left: 10px !important;
        right: 10px !important;
    }
    outline: none !important;
    background-color: transparent !important;

    &:focus {
        background-color: rgba($-light, 0.05) !important;
    }

    display: inline-block;
    border-radius: 4px;

    svg {
        width: auto;
        height: 40px;
        fill: currentColor;
    }
}
