@import "../../scss/colors";

.route {
    font-weight: 400;

    &--method {
        color: #4fa715;
        margin-right: 1rem;
    }

    code {
        padding: 0 !important;
        background-color: transparent !important;
        border: none;
        font-size: 1.3rem;
    }

    &--path {
        color: rgba($-dark, 0.5);
    }

    &--path__param {
        color: $-dark;
    }

    &--auth {
        display: block;
        font-size: 0.95rem;
        margin-top: 0.5rem;
        font-weight: 500;
        color: $-info;
    }
}
